/* контейнер с навигацией по странице «О проекте» */
.navtab {
  max-width: 884px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .navtab {
    margin-bottom: 17px;
    gap: 6px;
  }
}

/* текст ссылки на компоненты текущей страницы */
.navtab__link {
  width: 96px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  background: #e8e8e8;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0px;
}
@media screen and (max-width: 767px) {
  .navtab__link {
    font-size: 10px;
    width: 82px;
    border-radius: 6px;
    padding: 5px 0px;
  }
}
